<%- include header %>
<form method="post">

    Firstname： <input type="text" name="firstname"/><br/><br>

    Lastname： <input type="text" name="lastname"/><br/><br>

    Age： <input type="text" name="age"/><br/><br>

    Eye color： <input type="text" name="eye"/><br/><br>

    Company： <input type="text" name="company"/><br/><br>

    Email： <input type="email" name="email"/><br/><br>

    Phone： <input type="text" name="phone"/><br/><br>

    Address： <input type="text" name="address"/><br/><br>

    Password： <input type="password" name="password"/><br/><br>

    Re-Password：<input type="password" name="password-repeat"/><br/><br>

    <input type="submit" value="Sign up"/>
</form>
<%- include footer %>